!!!
%html
  %head
    %title Hamming Code
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %link{ :rel => 'stylesheet', :href => stylesheet_path('application'), :type => 'text/css', :media => 'all' }
    %link{ :rel => 'icon', :type=>'image/jpg', :href => image_path('shortcut.jpg') }
    %script{ :src => javascript_path('libs/application'), :type => 'text/javascript'}
  %body
    = yield